@{
	ViewData["Title"] = "Home Page";
}
<div
style = "text-align:center;">
	<h1 style="text-align:center">
		Главная страница универа
	</h1>
	<img src="https://pbs.twimg.com/media/E_lVFmWWUAMhppb.jpg" width="600" height="500" />
</div>
